version: '3.4'

services:
  server:
    image: customsearchengineapi
    build:
      context: .
      dockerfile: CustomSearchEngine.WebApi/Dockerfile
    ports:
      - "8090:80"
      - "8091:443"
  
  client:
    container_name: client
    build:
      context: .
      dockerfile: client/Dockerfile
    volumes:
      - './client:/app'
      - '/app/node_modules'
    ports:
      - 3001:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true